@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your library catalog!</h1>
    <p>Manage titles @Html.ActionLink("here", "Index", "Books").</p>
    <p>Manage patrons here.</p>
</div>
